# Example for env file
START_BLOCK=390_000_000

SUI_RPC_URL = "https://sui-rpc.publicnode.com"
PATH_TRACE_OUTPUT = "sui_trace_150M[+100->+1100].pkl"
IOTA_RPC_URL = "https://api.mainnet.iota.cafe"
ETH_RPC_URL='https://ethereum-mainnet.core.chainstack.com/XXXXXXX'
SOL_RPC_URL='https://solana-mainnet.core.chainstack.com/XXXXXXX'