# Example for env file
START_BLOCK=390_000_000
BLOCK_COUNT=100_000

SUI_RPC_URL="https://sui-rpc.publicnode.com"
PATH_TRACE_OUTPUT="sui_trace_150M[+100->+1100].pkl"
IOTA_RPC_URL="https://api.mainnet.iota.cafe"
ETH_RPC_URL='https://ethereum-mainnet.core.chainstack.com/XXXXXXX'
SOL_RPC_URL='https://solana-mainnet.core.chainstack.com/XXXXXXX'

#MAX_BLOCK_EXCLUDE=390_001_000
#MIN_BLOCK_EXCLUDE=390_000_000

#IGNORE=""